<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <title>das Team</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-
    50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Unsere Seite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="Stundenplan.html"> Stundenplan </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dasTeam.html" id="navbardrop" data-toggle="dropdown">
                        Das Team

                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Dennis Ksr</a>
                        <a class="dropdown-item" href="#">Merve Damar</a>
                        <a class="dropdown-item" href="#">Lennart Behrendt</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="workingexamples.html">Working Examples</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="usermanager.html">UserManager</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
<div class="jumbotron text-center">
    <h1 class="display-4">Unser Team heißt Sie herzlich willkommen!</h1>
    <p class="lead">Wir freuen uns darauf Sie kennenlernen zu dürfen</p>
    <hr class="my-4">
    <p>Kontaktieren Sie uns bei Rückfragen gerne auf einem der angegebenen Social Media Profilen.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#footerTeam" role="button">Learn more</a>
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            Lennart Behrendt
            <img src="../images/lennart.jpeg" class="img-fluid" alt="Responsive image">
            <hr class="section-heading-spacer">
            <h2>Mojen!</h2><br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci beatae commodi, consequuntur cumque debitis dolor, dolore eius eveniet minima porro praesentium quae voluptates voluptatum! Earum non officia voluptatem?

        </div>
        <div class="col-sm">
            Merve Damar
            <img src="../images/merve.jpg" class="img-fluid" alt="Responsive image">
            <hr class="section-heading-spacer">
            <h2>Hi!</h2><br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad, corporis deleniti doloribus fugit illum iste laborum maxime natus omnis provident quae rem sed similique sint temporibus, vel voluptas.

        </div>
        <div class="col-sm">
            Dennis Krs
            <img src="../images/dennis.jpeg" class="img-fluid" alt="Responsive image">
            <hr class="section-heading-spacer">
            <br>
            <h2>Hey!</h2><br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores debitis dolor ea impedit magni maxime minus neque quo repudiandae suscipit. Accusantium dicta facere impedit inventore, maiores molestias nostrum quos soluta.

        </div>
    </div>
</div>
<footer id="footerTeam" class="page-footer font-small blue mt-8 ">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Impressum</h5>
                <p>THM-TEAM <br />
                    Luisen Str. 1 <br/>
                    60439 Frankfurt a. Main<br/>
                    Tel: 069/1971 44<br/>
                    E-mail: dasteam@web.de</p>

            </div>
            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
                <!-- Links -->
                <h5 class="text-uppercase">Lennart Behrendt</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.instagram.com/l_nn_rt_b/?hl=de"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/lennart.behrendt.90/"><i class="fab fa-facebook-square"></i></a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="text-uppercase">Fedanur</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.instagram.com/mrs._vein/?hl=de"> <i class="fab fa-instagram"></i></a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="text-uppercase">Dennis Krs</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.instagram.com/dennis_krsovic/?hl=de"> <i class="fab fa-instagram"></i></a>
                    </li>
                </ul>

            </div>
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Grid column -->

    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
</body>
</html>